@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8F9FA;
  --foreground: #18181B;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Better focus states */
input:focus, textarea:focus, select:focus {
  outline: none;
}

/* Smoother transitions */
* {
  -webkit-tap-highlight-color: transparent;
}

/* Input number hide spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
